<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Employee</title>
</head>
<body>

    
    <h2>Update Employee Details</h2>
    
    <!-- 💡 মনে রাখবেন: ডেটা সাবমিট করার জন্য আমরা action এবং post মেথড ব্যবহার করছি -->
    <form action="/api/update-user" method="POST" enctype="multipart/form-data">
        <label>Name:</label><br>
        <input type="text" name="name" required value="<%=user.name%>"><br><br>
        <input type="hidden" name="employe_id" value="<%=user.id%>">

        <label>Email:</label><br>
        <input type="email" name="email" required value="<%=user.email%>"><br><br>

        <label>Department:</label><br>
        <input type="text" name="department" required value="<%=user.department%>"><br><br>
        

                 <% if(user.image) { %>
                        <img src="/uploads/<%= user.image %>" width="50" height="50" style="border-radius: 50%;">
                    <% } else { %>
                        No Image
                    <% } %>


        <label>Profile Image:</label>
        <input type="file" name="profile_image" accept="image/*"><br><br>

        <button type="submit">Submit</button>
    </form>




</body>
</html>